:root {
	--bs-body-bg: #f9f4f0;
	--bs-body-font-family: "Mona Sans Variable", -apple-system, system-ui, sans-serif;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bs-body-bg: #38435c;
	}
}

@layer overrides {
	:root {
		--p-backdrop-filter: blur(10px);
		--p-content-background: #fffe;
		--p-card-background: var(--p-content-background);
		--p-menu-background: var(--p-content-background);
		--p-toast-blur: 10px;
		--p-toast-error-background: var(--p-content-background);
		--p-toast-warn-background: var(--p-content-background);
		--p-toast-success-background: var(--p-content-background);
		--p-toast-info-background: var(--p-content-background);
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--p-content-background: #18181bee;
		}
	}

	// Blur background
	.p-card,
	.p-menu {
		backdrop-filter: var(--p-backdrop-filter);
	}
}

body {
	user-select: none;
	cursor: default;
}

// Blue Marble fixes
#bm-A {
	p,
	hr,
	h1 {
		margin: 0;
	}

	input,
	button,
	textarea {
		border: none;
		color: inherit;
	}
}
